/* The below code creates a metadata field callout*/

.callout[data-callout="theorem"] {
	--callout-color: 106, 134, 149;
	--callout-icon: none;
	--callout-title-color: 0, 0, 0 !important;

}

.callout[data-callout="definition"] {
	--callout-color: 106, 134, 149;
	--callout-icon: none;
	--callout-title-color: 0, 0, 0;
}

.callout[data-callout="example"] {
	--callout-color: 106, 134, 149;
	--callout-icon: none;
	--callout-title-color: 0, 0, 0;
}

/* Setting code to look latex-y for pdf exports */
@media print {
	.callout[data-callout="theorem"] {
		--callout-color: 106, 134, 149 ;
		--callout-icon: none ;
		--callout-title-color: 0,0,0 !important;
		--callout-content-background: 0, 0, 0 ;
		font-family: "Latin Modern Roman" !important;
	}

	.callout[data-callout="definition"] {
		--callout-color: 106, 134, 149;
		--callout-icon: none;
		--callout-title-color: 0,0,0 !important;
		--callout-content-background: 0, 0, 0 ;
		font-family: "Latin Modern Roman" !important;

	}

	.callout[data-callout="example"] {
		--callout-color: 106, 134, 149;
		--callout-icon: none;
		--callout-title-color: 0,0,0 !important;
		--callout-content-background: 0, 0, 0 ;
		font-family: "Latin Modern Roman" !important;

	}
}